.cards__wrapper {
  margin: 0 9px;
  margin-bottom: 22px;

  @media screen and (min-width: $tablet) {
    margin: 0 26px;
    margin-bottom: 54px;
  }

  @media screen and (min-width: $desktop) {
    margin: 49px 0;
  }
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style: none;

  @media screen and (min-width: $tablet) {
    margin-top: 72px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: 49px;
  }
}

.cards__item {
  flex-basis: 327px;
  min-height: 152px;
  flex-grow: 1;
  margin: 0 9px;
  margin-bottom: 24px;
  background-color: $white;
  box-shadow: 0 5px 20px rgba(130, 150, 180, 0.3);
  border-radius: 20px;

  @media screen and (min-width: $tablet) {
    flex-basis: 305px;
    margin-bottom: 18px;
  }

  @media screen and (min-width: $desktop) {
    min-height: 103px;
    flex-basis: 207px;
    margin-left: 0;
    margin-right: 11px;

    &:nth-child(6n){
      margin-right: 0;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: All 0.5s;
    opacity: 0.7;
  }

  &--hidden {
    display: none;
  }
}

