$white: #ffffff;
$smoke: #f5f5f5;
$black-russian: #242532;
$gray-20: #333333;
$gray-43: #6e6e6e;
$suva-grey: #909090;
$silver: #dfdcdc;
$super-silver: #efefef;
$cyan: #39b8ba;
$salmon: #fc6e6a;

$tablet: 1024px;
$desktop: 1920px;
